<!DOCTYPE html>
<html lang="en">

<head>
  <title>E Learner</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,500,0,0" />
</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
      <div class="container">
        <div class="navbar-brand-wrapper d-flex w-100">
          <h3><a class="nav-link nav-item" [routerLink]="['/']" >E - Learner</a>
          </h3>
          <button appDropdown #r="appDropDown" class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent">
            <span class="material-symbols-rounded">
              menu
            </span>
          </button>
        </div>
        <div [ngClass]="{'show':r.isOpen}" class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
            <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">

              <button class="navbar-toggler close-button" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="material-symbols-rounded">
                  close
                </span>
              </button>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="ns.setstudent()"
                 [routerLink]="['/assignment']">Assignments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="ns.setstudent()" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/scores']"
                >Scores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="ns.setteacher()" [routerLink]="['/create-assignment']"
                >Set Test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/material']" >Materials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="ns.getToken(); else auth" (click)="ns.logout()">Logout</a>
            </li>
            <ng-template #auth>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" >Login</a>
              </li>
            </ng-template>
            <li class="nav-item btn-contact-us pl-4 pl-lg-0">
              <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="content-wrapper">
    <div class="container">
      <section class="course">
          <div class="box" *ngFor="let item of grade">

      <div class="student">
        <div class="student-info">
          <mat-progress-spinner mode="determinate" [value]="item.grade">
          </mat-progress-spinner>
            <div class="info">
                <h3>Assignment Score: {{item.grade}}%</h3>
            </div>
        </div>
        <i class="fas fa-quote-right"></i>
    </div>
    <p class="text">Assignment Name: {{item.assignment}}</p>

  </div>
      </section>
    </div>
  </div>
</body>
<footer class="border-top">
  <p class="text-center text-muted pt-4">E-learner All rights reserved.</p>
</footer>

</html>
