<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

  <div class="container">

    <header>

      <a href="#" class="logo">E-<span>Learner</span></a>

      <nav class="navbar">
        <a href="home.html">Home</a>
        <a href="teacher.html">Assignments</a>
        <a href="price.html">Games</a>
        <a href="review.html">Materials</a>
        <!--
            <a href="course.html">Logout</a>
            <a href="course.html">Register</a>
        -->
      </nav>

    </header>

    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-action-list>
            <button>Hello</button>

          </mat-action-list>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- home section  -->

    <!-- footer section  -->

    <section class="footer container">

      <div class="box-container">

        <div class="box">
          <h3>quick links</h3>
          <a href="#">home</a>
          <a href="#">course</a>
          <a href="#">teacher</a>
        </div>

        <div class="box">
          <h3>follow us</h3>
          <a href="#">facebook</a>
          <a href="#">twitter</a>
          <a href="#">instagram</a>
        </div>

        <div class="box">
          <h3>contact us</h3>
          <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
          <p> <i class="fas fa-envelope"></i> studysmart@gmail.com </p>
          <p> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104 </p>
        </div>

      </div>

      <div class="credit"> 2023 | all rights reserved </div>

    </section>

  </div>
  <!--
  custom js file link
  <script src="js/script.js"></script>
-->
</body>

</html>
