<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

  <div class="container">

    <header>

      <a href="#" class="logo">E-<span>Learner</span></a>

      <nav class="navbar">
        <a href="home.html">Home</a>
        <a href="teacher.html">Assignments</a>
        <a href="price.html">Games</a>
        <a href="review.html">Materials</a>
        <!--
            <a href="course.html">Logout</a>
            <a href="course.html">Register</a>
        -->
      </nav>

    </header>

    <!-- home section  -->

    <section class="home">

      <div class="content">
        <h3>E-learning is a better way of learning</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia repellat aperiam libero, beatae debitis
          iusto quia sit aliquid placeat facilis?</p>
        <a href="#" class="btn">get started</a>
      </div>

      <div class="image">
        <img src="../../assets/images/home-img.svg" alt="">
      </div>

    </section>
    
    <section class="home">
      <div class="content">
        <header>
          <h3>Educative games to play </h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia repellat aperiam libero, beatae debitis
            iusto quia sit aliquid placeat facilis?</p>
        </header>
      </div>
      <div class="row features">
        <section class="col-4 col-12-narrower feature">
          <div class="image-wrapper">
            <a href="#" class="image featured"><img src="../../assets/images/pic04.jpg" alt="" /></a>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
            vel sem sit dolor neque semper magna lorem ipsum.</p>
        </section>
        <section class="col-4 col-12-narrower feature">
          <div class="image-wrapper">
            <a href="#" class="image featured"><img src="../../assets/images/pic05.jpg" alt="" /></a>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
            vel sem sit dolor neque semper magna lorem ipsum.</p>
        </section>
      </div>
    </section>

    <section class="home">
      <header class="major">
        <h3>Contact Us</h3>
      </header>
      <div class="content">
        <form method="post" action="#">
          <div class="row gtr-50">
            <div class="col-6 col-12-mobile">
              <input name="name" placeholder="Name" type="text" />
            </div>
            <div class="col-6 col-12-mobile">
              <input name="email" placeholder="Email" type="text" />
            </div>
            <div class="col-12">
              <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
                <li><input type="reset" value="Clear form" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- footer section  -->

    <section class="footer container">

      <div class="box-container">

        <div class="box">
          <h3>quick links</h3>
          <a href="#">home</a>
          <a href="#">course</a>
          <a href="#">teacher</a>
        </div>

        <div class="box">
          <h3>follow us</h3>
          <a href="#">facebook</a>
          <a href="#">twitter</a>
          <a href="#">instagram</a>
        </div>

        <div class="box">
          <h3>contact us</h3>
          <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
          <p> <i class="fas fa-envelope"></i> studysmart@gmail.com </p>
          <p> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104 </p>
        </div>

      </div>

      <div class="credit"> 2023 | all rights reserved </div>

    </section>

  </div>
  <!--
  custom js file link
  <script src="js/script.js"></script>
-->
</body>

</html>
